.DS_Store
.history
.vscode
*.swp
# .env should be excluded from versioning, but in this case, it's convenient for sharing
#/.env

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
