{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau film - Vidéothèque{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Créer un nouveau film</h1>
        TODO
        <div class="mt-4">
            {% include '_parts/link_back_movies.html.twig' %}
        </div>
    </div>
{% endblock %}
